*{
	font-family: "Roboto", sans-serif;
}

h1, h2 {

font-family: "Monstserrat", serif;

}

#profile {

	height: 250px;
	width: : 250px;

}
#landing {
	/*viewport height*/
	height: 80vh;

	/*arrange elements inside elements*/
	display: flex;
	/*directs elements inside*/
	flex-direction: column;
	/*centering horizontally*/
	align-items: center;

	/*centering elements vertically*/
	justify-content: center;
}
.jumbotron {
	background-color: transparent;
}

#gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 75vh;
	border-radius: 6px;

}

ul {
	list-style: none;
	padding: 0;
}
 
h2 {
	color: #007bff;
}

.tools {
	/*line around the element*/
border: 5px solid #f2f2f2 ;

/*space outside the element*/
margin: 20px;
/*space inside the element*/
padding: 25px;

height: 200px;

/*based on total width of the parent*/
width: 75%;

color: white;

}

html {
	scroll-behavior: smooth;
}